
<mat-drawer-container>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="sidenav-buttons">

      <button mat-button [routerLink]="''" (click)="drawer.toggle()">
        Home
      </button>

      <button mat-button [routerLink]="'/search'" (click)="drawer.toggle()">
        Search
      </button>

    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-progress-bar *ngIf="loadingService.loading" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar>
      <button mat-icon-button type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Trading tool</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
