.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  mat-form-field {
    width: 75%;
  }
}

.option-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
